.categoryTitle{
	font-size: 20px;
	color: #FFFFFF;
	opacity: 0.72;
}
.categoryList{
	display: flex;
	flex-wrap: wrap;
}
.categoryItem{
	position: relative;
	margin: 10px 5px;
	width: 47%;
}
.categoryName{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.categoryItem:hover{
	opacity: 0.2;
}
@media (max-width:980px) {
	.categoryList{
		display: flex;
		flex-wrap: nowrap;
	}
}

