
.NewMusicAlbumList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.AlbomHeader{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}
.albomTitleStyle{
	font-weight: 600;
    font-size: 22.8904px;
    line-height: 28px;
    color: #FFFFFF;
}
.buttonStyle{
	font-weight: 500;
	font-size: 15.2603px;
	line-height: 18px;
	color: #0167FF;
	cursor: pointer;
}
.buttonStyle:hover{
	color: #1F3452;
}
.buttonStyle:active{
}
