.Tools {
	width: max-content;
	position: absolute;
	right: 0;
	top: 50px;
	height: max-content;
	background-color: #121212a8;
	border-radius: 20px;
	z-index: 5;
	padding: 10px;
	display: none;
	&.show {
		display: block;
	}
	.ToolsItem {
		padding: 10px 0;
		.ToolsText {
			color: #ffffff;
			cursor: pointer;
		}
	}
}

@media (min-width: 1450px) {
	.Hidetools {
		display: none;
	}
}
