.rightBar{
	width: 27%;
	background-color: #212121;
	position: relative	;
}
.rightBarFix{
	position: fixed;
	top: 0;
	padding: 0 22px;
}
.TopTrackTitle{
	font-size: calc(18px + (5 + 5 * 0.7) *((100vw - 320px )/1920));
	color: #FFFFFF;
	opacity: 0.72;
}
@media (max-width:980px) {
	.rightBar{
		width: 70%;
		background-color: #121212;
		margin-bottom: 60px;
	}
	.rightBarFix{
		position:static;
	}
}
@media (max-width:768px) {
	.rightBar{
		width: 100%;
	}
}