.TrackNav{
	position: fixed;
	z-index: 8;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #272727;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 40px;
}
@media (max-width:540px) {
	.TrackNav{
		bottom: 64px;
	}
}
.trackTools{
	display: flex;
	align-items: center;
	width: 20%;
	justify-content: flex-start;
}
.toolsIcon{
	margin: 0 10px;
}
.trackCover{
	width: 60px;
	margin: 0 90px 0 0;
	border-radius: 20px;
	overflow: hidden;
	
}
.trackContent{
	display: flex;
	align-items: center;
}
.trackInfoShow{
	display: flex;
	align-items: center;
}
.trackName{
	display: flex;
	align-items: center;
}
.TrackInfo{
	display: flex;
	align-items: center;
}
.trackShow{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.trackSetting{
	display: flex;
	align-items: center;
	width: 20%;
	justify-content:center;
}
.trackTimeBarAfter{
	margin: 0 15px;
	width: 36vw;
	height: 4px;
	background: #1F3452;
	cursor: pointer;
}
.trackTimeBarBefore{
	width: 0%;
	height: 100%;
	background: #0167FF;
	box-shadow: 0px 0px 9.97856px rgba(255, 55, 64, 0.3);
	cursor: pointer;
}
.trackTitle{
	margin: 0 37px 0 0;
}
.trackTitleStyle{
	font-size: 17px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.trackExecutorStyle{
	font-size: 15px;
	display: flex;
	align-items: center;
	color: #AFB6B3;
}
.audioHide{
	display: none;
}
@media (max-width:540px) {
	.TrackNav{
		bottom: 64px;
		padding: 8px 5px;
		flex-direction: row-reverse;
		}
	/* .trackContent{
		flex-direction: column;
		width: 100%;
	}
	.trackContentInfo{
		display: flex;
		align-items: center; 
	}
	.trackCover{
		margin: 0;
	}

	.trackTools{
		width: 40%;
	}
	.trackSetting{
		display: none;
	}
	.trackName{
		margin-left: 20px;
		flex-direction: column;
		align-items: normal;
	}
	.trackTitle{
		margin: 0;
	}
	.TrackInfo{
		width: 100%;
		justify-content: space-around;
	}
	.trackContentInfo{

	} */

}
