.newAlbomContent{
	overflow: hidden;
	margin: 60px 0;
}
.newAlbomTop{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 15px;
}
.newAlbomTitle{
	font-weight: 600;
	font-size: 22.8904px;
	line-height: 28px;
	color: #FFFFFF;
}
.albomList{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 0px 0;
}
.buttonStyle{
	font-weight: 500;
	font-size: 15.2603px;
	line-height: 18px;
	color: #0167FF;
	cursor: pointer;
}