.albom{
	width: 25%;
	margin: 10px 0;
	cursor: pointer;
}

.albomCover{
	position: relative;
}
.albomCover:hover>.photoAbove{
	display: block;
}
.photoAbove{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: alpha(Opacity=35);
	opacity: 0.35; 
}
.albomContent{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 12px;
}
.albomTitle{
	margin: 5px 0 0 0;
	font-size: 15px;
	color: #E4E7E6;
}
.albomName{
	font-size: 13px;
	line-height: 13px;
	color: #AFB6B3;
}