.navbar{
	display: flex;
	flex-direction: column;
	width: 23%;
	height: 100vh;
	padding: 14px 0 0 0;
	position: relative;
	background-color: #212121;
}
.navbarFix{
	background-color: #212121;
	position: fixed;
	width: 23%;
	height: 100vw;
	top: 0;
	left: 0;
}
.logo{
	padding: 14px 0 50px 45px;
}
.list{
	display: flex;
	flex-direction: column;
}
.listitem{
	display: flex;
	align-items: center;
	padding: 10px 0;
	padding: 10px 0 10px 45px;
}
.listitem:hover{
	/* background: #0167FF;
	opacity: 0.06; */
	background-color: rgba(1, 103, 255, 6%);
}
.itemactive{
	border-right: 4px solid #0167FF;
	display: flex;
	align-items: center;
	padding: 10px 0;
	padding: 10px 0 10px 45px;
}
.itemicon{
	width: 20px;
}
.itemblock{
	padding: 0 0 0 15px ;
}
.itemtext{
	font-size: 20px;
	color: #FFFFFF;
	opacity: 0.72;
}
