.containerContent{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	background-color: #272727;

}
.AlbomInfo{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 30px;
}
.AlbomCover{
	max-width: 300px;
	width: max-content;
	border-radius: 20px;
	overflow: hidden;
}
.AlbomCover:hover{
	filter:brightness(0.3);
}
.AlbomName{
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	color: #FAFAFA;
}
.AlbomExecutor{
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	color: #AFB6B3;
	cursor: pointer;
}
.AlbomExecutor:hover{
	filter:brightness(0.3);
}
.AlbomExecutor:active{
	color: #0167FF;
}
.content{
	width: 77%;
	padding: 50px 75px;
}
.cover{
	max-width: 200px;
}
@media (max-width:980px) {
	.content{
		width: 70%;
	}
}
@media (max-width:768px) {
	.content{
		width: 100%;
	}
}