// @import url(../../../style//importStyles.scss);
@use "../../../style//importStyles.scss" as mixin;
.containerContent {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	background-color: #272727;
	.content {
		width: 77%;
		padding: 50px 75px;
	}
}

.AlbomInfo {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 30px;
	.AlbomCover {
		max-width: 300px;
		width: 25%;
		min-width: 150px;
		border-radius: 20px;
		overflow: hidden;
		margin-right: 30px;
		&:hover {
			filter: brightness(0.3);
		}
	}
}

.AlbomName {
	@include mixin.STtOpacity;
}
@media (max-width: 980px) {
	.containerContent {
		.content {
			padding: 20px 20px;
			width: 70%;
		}
	}
}
@media (max-width: 768px) {
	.containerContent {
		.content {
			padding: 30px 30px;
			width: 100%;
		}
	}
}
